


.ql-toolbar .ql-undo::before {
  content: '↩️';
  padding: 0 6px;
}

.ql-toolbar .ql-redo::before {
  content: '↪️';
  padding: 0 6px;
}
.ql-editor {
  max-height: 400px; /* or whatever you need */
  overflow-y: auto;
}
